<div class="w-100">
  <!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="logo.svg" alt="Fair Share" width="40" height="40"> FairShare
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#projects">{{i18n "Proyectos"}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#logout">{{i18n "Cerrar Sesión"}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
  <main id="maincontent" class="flex-grow-1">
    
  </main>

  <footer class="mt-auto text-center">
    <p>{{i18n "© 2024 Fair Share - App de Gestión de Pagos en Grupo"}}</p>
    <div class="dropdown">
      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {{i18n "Seleccionar Idioma" }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a href="index.php?url=set_language&lang=es">
          {{i18n "Español" }}
        </a></li>
        <li><a href="index.php?url=set_language&lang=en">
          {{i18n "Inglés" }}
        </a></li>
      </ul>
    </div>
</div>
